//Colours
$c-main: #0d0d0d;
$c-second: #7a00e6;
$c-third: #f9f8f8;
$c-forth: #f8f0fa;

$c-pink: #ff7483;
$c-dark: #083555;
$c-text: #262b44;
$c-gray: #8b929f;
$c-black: #000000;
$c-white: #ffffff;
$c-light: #fffbf4;
$c-light_2: #edf6f7;
$c-light_3: #fff6ea;

$c-background: #ffffff;

$c-green: #22d07c;
$c-danger: #f2495a;
$c-success: #22d07c;

$c-second-light: rgb(247, 247, 247);
$c-orange: #ff9933;
