//Colours
$c-main: #0d0d0d;
$c-second: #7a00e6;

$c-dark: #0d0c0c;
$c-text: #111423;
$c-gray: #8b929f;
$c-black: #000000;
$c-white: #ffffff;
$c-light: #f5f5f5;

$c-background: #ffffff;

$c-green: #22d07c;
$c-danger: #f2495a;
$c-success: #22d07c;
