.articles__area {
  padding: 80px 0;
  &--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    grid-gap: 16px;

    @media (width<= 767px) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba($c-gray, 0.3);
    border-radius: 8px;
    transition: all ease-in 0.3s;

    .media {
      img {
        height: 100%;
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    .content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      height: 100%;
      .top {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h4 {
          font-size: clamp(14px, 3vw, 22.31px);
          line-height: clamp(24px, 3vw, 32px);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        span {
          font-size: 14px;
        }
      }
    }

    &:hover {
      transition: all ease-in 0.3s;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}

.--divider {
  border-top: 1px solid #c9c9c9;
}
