//
.void--btn {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  z-index: 0;
  height: 44px;
  min-width: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  padding: 8px 32px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border: none;
  font-size: clamp(12px, 3vw, 14.25px);

  @media (max-width: 676px) {
    padding: 8px 24px;
  }

  span {
    // margin: 0 8px;
    font-weight: 600;
  }
}

.primary {
  background: $c-second;
  border: none;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 44px;
  width: max-content;
  justify-content: center;
  transition: all 0.3s ease;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: lighten($c-main, 10%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: $c-white;

    &:before {
      width: 100%;
    }
  }
}

.primary-link {
  background: transparent;
  border: none;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 44px;
  width: max-content;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 8px 0;

  span {
    color: $c-main;
    font-size: clamp(12px, 3vw, 14.75px);
    font-weight: 700;
  }
  i {
    color: $c-second;
    font-size: clamp(12px, 3vw, 14.75px);
  }
}

.--large {
  span,
  i {
    font-size: clamp(16px, 3vw, 22.13px) !important;
    font-weight: 700;
  }
}

.btn--full {
  width: 100%;
}
.btn--half {
  width: 60%;
}
.btn--max {
  width: max-content;
}
.btn--min {
  min-width: 180px !important;
}
