.has-scrollbar {
  padding-bottom: 16px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: rgba($c-main, 0.06);
  border-radius: 24px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 24px;
  background: rgba($c-main, 1);
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba($c-main, 1);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba($c-main, 1);
}
